# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Scala template

/target/
/.idea/
/myAkka.iml


/akka/ch1/ch1.iml
/akka/ch2/ch2.iml
/akka/ch2-client/ch2-client.iml
/akka/ch3/ch3.iml
/akka/ch4/ch4.iml
/akka/ch4-client/ch4-client.iml
/akka/ch5/ch5.iml
/akka/ch6/ch6.iml
/akka/ch6-client/ch6-client.iml
/akka/myAkka-kafka/myAkka-kafka.iml
/akka/practice/practice.iml
/akka/rpc/rpc.iml

/akka/ch1/target/
/akka/ch2/target/
/akka/ch2-client/target/
/akka/ch3/target/
/akka/ch4/target/
/akka/ch4-client/target/
/akka/ch5/target/
/akka/ch6/target/
/akka/ch6-client/target/
/akka/myAkka-kafka/target/
/akka/practice/target/
/akka/rpc/target/
